API_TOKEN='TOKEN GOES HERE' #Your Slack Token
TEAM_ID='1610612759' #Team ID, see: https://github.com/seemethere/nba_py/wiki/stats.nba.com-Endpoint-Documentation#current-teams
TEAM_SHORT='SAS' #Official short version of team
SEASON='2017-18' #Season
SLACK_CHANNEL='#bot-playground' #Channel to post in
